<form #userCredentialsForm="ngForm">
    <div id="pnlPrescribingUser">
        <div class="user-content-row">
            <div class="ma-display-inline">
                <label class="user-input-label">Title</label>
            </div>
            <div class="ma-display-inline">
                <input type="text" id="txtTitle" [(ngModel)]="userCredentials.Title" [disabled]="userCredentials.IsRestrictedMode"
                       name="title" #title="ngModel" maxlength="6">
            </div>
        </div>

        <div class="user-content-row">
            <div class="ma-display-inline">
                <label class="user-input-label">Suffix</label>
            </div>
            <div class="ma-display-inline">
                <input type="text" id="txtSuffix" [(ngModel)]="userCredentials.Suffix" [disabled]="userCredentials.IsRestrictedMode"
                       maxlength="6" name="suffix" #suffix="ngModel" [pattern]="suffixPattern">
            </div>
            <div class="ma-display-inline user-input-validation" *ngIf="suffix.invalid && (suffix.dirty || suffix.touched)">
                <span id="suffixPatternError" *ngIf="suffix.errors.pattern" class="validation-color">
                    Invalid suffix. Kindly enter a valid suffix (letters only).
                </span>
            </div>
        </div>

        <div class="user-content-row">
            <div class="ma-display-inline">
                <label class="user-input-label"><span class="ma-form-mandatory-star">* </span>NPI</label>
            </div>
            <div class="ma-display-inline">
                <input type="text" id="txtNPI" [(ngModel)]="userCredentials.NPI" [disabled]="userCredentials.IsRestrictedMode"
                       name="npi" required #npi="ngModel" maxlength="10">
            </div>
            <div class="ma-display-inline user-input-validation" *ngIf="npi.invalid && (npi.dirty || npi.touched)">
                <span id="NPIMandatoryError" *ngIf="npi.errors.required" class="validation-color">
                    NPI is required.
                </span>
            </div>
        </div>

        <div class="user-content-row" id="pnlGenericLicense" *ngIf="userCredentials.IsPRSite">
            <div class="ma-display-inline">
                <label class="user-input-label">ASSMCA</label>
            </div>
            <div class="ma-display-inline">
                <input type="text" id="txtASSMCA" [(ngModel)]="userCredentials.Assmca" [disabled]="userCredentials.IsRestrictedMode"
                       name="assmca" #assmca="ngModel" [required]="hasDEALicense" [maxlength]="hasDEALicense ? 100 : 0">
            </div>
            <div class="ma-display-inline user-input-validation" *ngIf="assmca.invalid && (assmca.dirty || assmca.touched)">
                <span id="ASSMCAMandatoryError" *ngIf="assmca.errors.required" class="validation-color">
                    ASSMCA is required if DEA is entered.
                </span>
                <span id="ASSMCANotMandatoryError" *ngIf="assmca.errors.maxlength" class="validation-color">
                    If no DEA is entered, please remove ASSMCA.
                </span>
            </div>
        </div>
        <div class="user-content-row">
            <div class="ma-display-inline">
                <label class="user-input-label"><span class="ma-form-mandatory-star">* </span>Specialty 1</label>
            </div>
            <div class="ma-display-inline">
                <select id="ddlSpecialty1"
                        type="text"
                        name="speciality1"
                        #speciality1="ngModel"
                        required
                        class="user-input-large"
                        [disabled]="userCredentials.IsRestrictedMode"
                        [(ngModel)]="userCredentials.Specialty1">
                    <option *ngFor="let item of userCredentials.SpecialtyList" [value]="item.Value">
                        {{item.Description}}
                    </option>
                </select>
            </div>
            <div class="ma-display-inline user-input-validation" *ngIf="speciality1.invalid && (speciality1.dirty || speciality1.touched)">
                <span *ngIf="speciality1.errors.required"
                      id="speciality1MandatoryError"
                      class="validation-color">
                    Select a valid Specialty 1.
                </span>
            </div>
        </div>
        <div class="user-content-row">
            <div class="ma-display-inline">
                <label class="user-input-label">Specialty 2</label>
            </div>
            <div class="ma-display-inline">
                <select id="ddlSpecialty2"
                        type="text"
                        name="speciality2"
                        class="user-input-large"
                        [disabled]="userCredentials.IsRestrictedMode"
                        [(ngModel)]="userCredentials.Specialty2">
                    <option *ngFor="let item of userCredentials.SpecialtyList" [value]="item.Value">
                        {{item.Description}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>