<form #pwdForm="ngForm" id="pwdForm">
    <div class="erx-form-row">
        <span class="erx-form-label user-creation-form-label-spacing">
            <label><span class="highlight-star erx-form-star-position">*</span>Password</label>
        </span>
        <span class="erx-form-input">
            <input type="password" id="password1" name="password1" class="input-medium"
                   required [(ngModel)]="userPassWord.password" #password1="ngModel" maxlength="25" minlength="8" (blur)="validatePassword()"/>
            <span *ngIf="password1.invalid && (password1.dirty || password1.touched)">
                <span id="passwordRequiredError1" *ngIf="password1.errors.required" class="validation-color">
                    Password is required.
                </span>

                <span id="passwordPatternError" *ngIf="password1.errors.invalid" class="validation-color">
                    Password does not meet criteria mentioned below.
                </span>
            </span>
        </span>
    </div>

    <div class="erx-form-row">
        <span class="erx-form-label user-creation-form-label-spacing">
            <label><span class="highlight-star erx-form-star-position">*</span>Confirm Password</label>
        </span>
        <span class="erx-form-input">
            <input type="password" id="confirmPassword1" name="confirmPassword1" class="input-medium"
                   required [(ngModel)]="userPassWord.confirmPassword" #confirmPassword1="ngModel" maxlength="25" minlength="8" />
            
            <span *ngIf="confirmPassword1.invalid && (confirmPassword1.dirty || confirmPassword1.touched)">
                <span id="confirmPasswordMandatoryError" *ngIf="confirmPassword1.errors.required" class="validation-color">
                    Confirm Password is required.
                </span>
                <span id="confirmPasswordPatternError" *ngIf="confirmPassword1.errors.pattern" class="validation-color">
                    Passwords do not match.
                </span>
            </span>
       
        </span>
    </div>

    <div class="erx-form-row">
        <span class="erx-form-label user-creation-form-label-spacing">
            <label>Rules</label>
        </span>
        <span class="erx-form-input">
            Must have between 8 (min) and 25 (max) characters and any three of the following:
        </span>
        <div class="user-creation-form-rules">
            <ul>
                <li>One (1) upper case character</li>
                <li>One (1) lower case character</li>
                <li>One (1) special character</li>
                <li>One (1) number</li>
            </ul>
        </div>
    </div>
</form>