<div class="modal-backdrop fade in" id="mdlEditSecretQuestions" role="dialog" [style.display]="showModalPopup ? 'block' : 'none'"></div>
<div class="modal" id="editSecretQuestionAnswers" role="dialog" [style.display]="'block'" *ngIf="showModalPopup">
    <div class="modal-dialog" role="dialog">
        <form (ngSubmit)="submit()" class="ui form" #f="ngForm">
            <div class="overlaymainwide">
                <div class="overlayTitle">
                    Secret Questions and Answers
                </div>
            </div>
            <div class="overlayContent">
                Secret Questions and Answers will be used to automatically recover your forgotten password. All three questions and answers are required. Answers must contain atleast one character.
                <br>

                <div class="success-message">{{successMessage}}</div>
                <div class="error-message">{{errorMessage}}</div>
                <br />
                <div>
                    Enter your password:<span style="color:red">*</span>&nbsp;&nbsp;&nbsp;
                    <input id="password" type="password" [(ngModel)]="pwd" name="password" #password="ngModel" required />
                    <span *ngIf="password.invalid && (password.dirty || password.touched)">
                        <span id="paswordRequiredError" *ngIf="password.errors.required" class="validation-color">
                            Password is required.
                        </span>
                    </span>
                </div>
                <div class="table">
                    <div class="table-row">
                        <div class="table-header">Questions</div>
                        <div class="table-header">Answers</div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">
                            <select id="q1" [(ngModel)]="q1" name="q1">
                                <option *ngFor="let questionOne of secretQuestionsList;"
                                        [value]="questionOne?.questionIDField">
                                    {{questionOne.questionField}}
                                </option>
                            </select><span style="color: Red">*</span>
                        </div>
                        <div class="table-cell">
                            <input type="text" id="txtAnswerOne" [(ngModel)]="a1" name="a1" />
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">
                            <select id="q2" [(ngModel)]="q2" name="q2">
                                <option *ngFor="let questionTwo of secretQuestionsList"
                                        [value]="questionTwo?.questionIDField">
                                    {{questionTwo.questionField}}
                                </option>
                            </select><span style="color: Red">*</span>
                        </div>
                        <div class="table-cell">
                            <input type="text" id="txtAnswerTwo" [(ngModel)]="a2" name="a2" />
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">
                            <select id="q3" [(ngModel)]="q3" name="q3">
                                <option *ngFor="let questionThree of secretQuestionsList"
                                        [value]="questionThree?.questionIDField">
                                    {{questionThree.questionField}}
                                </option>
                            </select><span style="color: Red">*</span>
                        </div>
                        <div class="table-cell">
                            <input type="text" id="txtAnswerThree" [(ngModel)]="a3" name="a3" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlayFooter footer">
                <div>
                    <button type="submit" [disabled]="submitted" class="btnstyle btnStyleAction" (click)="validate(f)">Submit</button>&nbsp;&nbsp;
                    <button class="btnstyle btnStyleAction" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>