.content-container {
    display: flex;
    flex-flow: row wrap;
}

.feature-container {
    padding: 20px;
    min-width: 300px;
 }

.feature-header-title {
    font-size:large;
    font-weight: bold;
    color: #5a5353;
    margin-bottom: 10px;
}

.feature-row {
    margin-bottom: 10px;
}

.feature-row-font-style {
    font-size: medium;
    font-weight: bold;
}

.feature-comparision-link {
    font-size: medium;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.feature-subscription-option-row {
    margin-bottom: 10px;
}

.feature-subscription-option {
    font-size: medium;
    padding-left: 5px;
}

.subscription-container {
    padding: 20px;
}

.subscription-card {
    float: left;
    width: 450px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    padding: 15px 0px;
    border-radius: 10px;
    border: solid;
    border-color: #5a5353;
    border-width:thin;
}

.subscription-card-header {
    margin: 0;
    padding-bottom: 20px;
}

.subscription-header-title {
    font-size: 19px;
    font-weight: bold;
    color: #5a5353;
    padding-top: 13px;
    text-align: center;
    height: 50px;
}

.subscription-card-body {
    background-color: #ffffff;
    height: 236px;
    background-color: #ffffff;
    padding-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.subscription-price {
    color: #5a5353;
    font-weight: bold;
    vertical-align: bottom;
    font-size:16px;
}

.subscription-link {
    cursor: pointer;
    color: #5e4da5;
    font-size: 13px;
}

.subscription-card-row {
    text-align: center;
    font-size: 14px;
    padding-top: 6px;
}

.subscription-card-group {
    height: 170px;
    margin-bottom: 10px;
}

.action-bar__layout {
    height: 25px;
    padding-top: 1px;
    padding-left: 4px;
}

.footer-container {
    padding: 20px;
}
