<div class="modal fade modal-top-override" id="mdlFillHistoryDetails" role="dialog">
    <div class="modal-dialog">
        <div class="overlaymainwide">
            <div class="erxOverlayTitle" style="height: auto">
                Fill History Details
            </div>
            <div class="overlayContent">
                <div style="width: auto">
                    <table class="erxTable">
                        <thead>
                        <tr>
                            <th class="erxTableHeader" style="padding-left: 5px;">Date</th>
                            <th class="erxTableHeader">Description</th>
                        </tr>
                        </thead>
                        <ng-template let-item ngFor [ngForOf]="FillHistoryTimelineItems" let-even="even" let-odd="odd">
                            <tr [ngClass]="{ 'erxRow': (even), 'erxAltRow': (odd) }">
                                <td style="width: 75px; padding-left: 5px">
                                    {{item.FillDate}}
                                </td>
                                <td style="width: 148px;">
                                    {{item.TimeLineLabel}}
                                </td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
            </div>
            <div class="erxOverlayFooter" style="padding-bottom: 10px">
                <button type="button" (click)="cancel()" class="btnstyle btnStyleAction" value="Close" width="100px">Close</button>
            </div>
        </div>
    </div>
</div>