<div class="modal-backdrop fade in" id="mdlChangePasswordPopup" role="dialog" [style.display]="showModalPopup ? 'block' : 'none'"></div>
<div class="modal" id="changePasswordPopup" role="dialog" [style.display]="'block'" *ngIf="showModalPopup">
    <div class="modal-dialog">
        <form (ngSubmit)="submit(changePasswordForm)" class="ui form" #changePasswordForm="ngForm">
            <div class="overlaymainwide">
                <div class="overlayTitle">
                    Change Password
                </div>
            </div>
            <div>
                <div class="table">
                    <div class="table-cell form-area">
                        <div>
                            <div class="table-row">
                                <div class="table-cell" *ngIf="displayError">
                                    <ul>
                                        <li *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="error-message">Current Password is required.</li>
                                        <li *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="error-message">New Password is required.</li>
                                        <li *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="error-message">Confirm Password is required.</li>
                                        <li *ngIf="confirmPassword.touched && (confirmPassword.value != undefined && confirmPassword.value.length > 0) && (newPassword.value != undefined && newPassword.value.length > 0) &&   newPassword.value != confirmPassword.value" class="error-message">Passwords do not match. Verify passwords and try again.</li>
                                        <li *ngIf="(oldPassword.value != undefined && oldPassword.value.length > 0) && (newPassword.value != undefined && newPassword.value.length > 0) &&   oldPassword.value == newPassword.value" class="error-message">New password should be different from current password.</li>
                                    </ul>
                                    <span *ngIf="!changePwd.Success" class="error-message">{{changePwd.Status}}</span>
                                    <span *ngIf="changePwd.Success" class="success-message">{{changePwd.Status}}</span>
                                </div>
                            </div>
                        </div>
                            <div class="table-row">
                                <div class="table-cell">
                                    <label for="oldPassword">Current Password:<span class="required-filed">*</span></label>
                                </div>
                                <div class="table-cell">
                                    <input type="password"
                                           required
                                           [(ngModel)]="changePwd.OldPassword" name="oldPassword"
                                           #oldPassword="ngModel" />
                                </div>
                            </div>

                            <div class="table-row">
                                <div class="table-cell">
                                    <label for="newPassword">New Password:<span class="required-filed">*</span></label>
                                </div>
                                <div class="table-cell">
                                    <input type="password"
                                           required
                                           [(ngModel)]="changePwd.NewPassword" name="newPassword"
                                           #newPassword="ngModel" />
                                </div>
                            </div>

                            <div class="table-row">
                                <div class="table-cell">
                                    <label for="confirmPassword">Confirm Password:<span class="required-filed">*</span></label>
                                </div>
                                <div class="table-cell">
                                    <input type="password"
                                           required
                                           [(ngModel)]="changePwd.ConfirmPassword" name="confirmPassword"
                                           #confirmPassword="ngModel" />
                                </div>
                            </div>
                        </div>
                        <div class="table-cell instraction-area">
                            <P><STRONG>Password Requirements:</STRONG><UL><LI>Minimum 8 characters and Maximum 25 characters</LI><LI>At least 3 of the following 4:<UL><LI>1 upper case letter</LI><LI>1 lower case letter</LI><LI>1 numeric character</LI><LI>1 punctuation character</LI></UL></LI><LI>Cannot reuse any of your 10 most recent passwords</LI><LI>Password must not have been changed within the last 24 hours</LI><LI>User must not have been created within the last 24 hours</LI></UL>
                        </div>
                    </div>
            </div>

            <div class="overlayFooter footer">
                <div>
                    <button type="submit" class="btnstyle btnStyleAction" *ngIf="!submitted">Change Password</button>&nbsp;&nbsp;
                    <button *ngIf="submitted" class="btnstyle btnStyleAction" [disabled]=true>Processing.....</button>&nbsp;&nbsp;
                    <button type="button" class="btnstyle btnStyleAction" (click)="cancel(changePasswordForm)">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
