<div class="modal fade" id="mdlUrl" role="dialog">
    <div class="modal-dialog" style="width: 80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{_title}}</h4>
            </div>
            <div class="modal-body" style="height: 80vh; text-align:center; vertical-align:middle" >
                <img src="../../../images/Loading.gif" [comp-visible]="isLoaded == false" alt="Loading..."/>
                <iframe *ngIf="_src !== undefined" name="modal-frame" [style.visibility]="isLoaded == true? 'visible':'hidden'" [src]="_src|safeUrl" style="height: 100%; width: 100%; border: none; overflow-x: hidden;"  seamless="seamless" (load)="ContentLoad()" ></iframe>
            </div>
        </div>
    </div>
</div>