<div class="erx-external-modal erx-fade" id="external-mdlSimple" role="dialog">
    <div class="erx-external-modal-dialog" style="width: 80%; height: 80vh">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header overlayTitleAngular overlayHeaderAngular">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {{_title}}
            </div>
            <div class="erx-external-modal-body erx-external-modal-body__layout">
                <iframe class="erx-external-modal-body-iframe__layout" id="displayFrame" ></iframe>
            </div>
        </div>
    </div>
</div>