.primaryForeColor {
    color: #2f2257
}


img#loginLogo{background:url(../images/Askesis/AskesisLogo.jpg); background-repeat:no-repeat; background-position:center;}
img#mainLogo{background:url(../images/Askesis/AskesisLogo.jpg); background-repeat:no-repeat; background-position:center;}

img#helpIcon:hover{height: 24px; width: 24px;border: none;background:url(../images/Askesis/headerhelpAsk.gif); background-repeat:no-repeat; background-position:center;}
img#helpIconLogin:hover{height: 24px; width: 24px;border: none;background:url(../images/Askesis/headerhelpAsk.gif); background-repeat:no-repeat; background-position:center;}
img#profileIcon:hover{height: 24px; width: 24px;border: none;background:url(../images/Askesis/headerprofileAsk.gif); background-repeat:no-repeat; background-position:center;}
img#logoutIcon:hover{height: 24px; width: 24px;border: none;background:url(../images/Askesis/headerlogoutAsk.gif); background-repeat:no-repeat; background-position:center;}
img#messageQueueIcon:hover{height: 24px; width: 24px;border: none;background:url(../images/Askesis/headerMsgQueueAsk.gif); background-repeat:no-repeat; background-position:center;}
img#iLearnIcon:hover{height: 24px; width: 24px; background-image:url(../images/Askesis/Askesis_Ilearn.png); background-repeat:no-repeat; background-position:center;}

.hlClinicalViewer {height: 24px;width: 24px;border: none; background-image:url(../images/Allscripts/headerClinicalViewer.gif); background-repeat:no-repeat; background-position:center;}
img#helpIcon {height: 24px;width: 24px;border: none; background-image:url(../images/Allscripts/headerhelp.gif); background-repeat:no-repeat; background-position:center;}
img#helpIconLogin {height: 24px;width: 24px; background-image:url(../images/Allscripts/headerhelp.gif); background-repeat:no-repeat; background-position:center;}
img#profileIcon{height: 24px;width: 24px;border: none; background-image:url(../images/Allscripts/header.gif); background-repeat:no-repeat; background-position:center;}
img#logoutIcon {height: 24px;width: 24px;border: none; background-image:url(../images/Allscripts/headerlogout.gif); background-repeat:no-repeat; background-position:center;}
img#messageQueueIcon {height: 24px;width: 24px;border: none; background-image:url(../images/Allscripts/headermsgqueue.gif); background-repeat:no-repeat; background-position:center;}
img#iLearnIcon {height: 24px; width: 24px;border: none; background-image:url(../images/Allscripts/gradCap.png); background-repeat:no-repeat; background-position:center;}

/*secondary color*/
.divider 
{
    background-color: #44a2ff;
}

/*Header Master Page*/
.appStripe {
    border-top: 5px #091840 solid;
}    
.redborder     {background-color:#091840; }
.loginbanner {
    background-color: #091840;
}
.headerIcon:hover span
{
    color: #091840
}

.accordionHeader{background-color:#091840}
.accordionHeaderText{background-color:#091840}

.editRollover:hover span
{
    color: #091840;
	cursor:pointer;
}
.RadPanelBar div.rpHeaderTemplate, a.rpLink
{
    background: linear-gradient(#091840, #213771);
    background: -webkit-linear-gradient(#004185, #213771); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#091840, #213771); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#091840, #213771); /* For Firefox 3.6 to 15 */
    color: white;
}
/*Footer -- Bar under master*/
.h1title { background-color: #091840; }

a.tabSelectedLink { 
    background-color:#091840;
    color:White;
}
.tabSelected {
	background-color:#091840;
}

a {
	color: #091840;
}
a:visited {
	color: #091840;
}

.rightPanelMed {
    border-left: 3px solid #091840 !important;
    border-right: 3px solid #091840 !important;
}

.erxSelectedRow {
    background-color: #bedefe !important;
}


.rgSelectedRow {
    background: #bedefe 0 -5900px repeat-x url('../telerik/Skins/Allscripts/Grid/Img/sprite.gif');
}


.noEditRollover
{
    visibility: hidden;
}

.rpText
{
    color: White;
}
.RadPanelBar_Hay div.rpHeaderTemplate, .RadPanelBar_Hay a.rpLink
{
    color: white;
}

/*Tabs*/
.divider { border-bottom-color: #091840; }

/*bootstrap override*/
.nav-tabs>li>a:hover {
  background-color: #44a2ff;
  border:none;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
     background-color:#091840;
     border-color:#091840;
}