.eRxHealthSheet_Panel
{
	background-color:#171868; 
}

img#loginLogo{background:url(../images/Crystal/Crystal.jpg); background-repeat:no-repeat; background-position:center;}
img#mainLogo{background:url(../images/Crystal/Crystal.jpg); background-repeat:no-repeat; background-position:center;}

.appStripe {
    border-top: 5px #8276A4 solid;
}
.accordionHeader{background-color:#171868}
.accordionHeaderText{background-color:#171868}
.rightBoxHeader {
	background-color:#171868;}
.rightBoxTable 
{
	border: solid 2px #171868;
}
img#helpIcon:hover{background:url(../images/Crystal/headerhelpCrystal.gif); background-repeat:no-repeat; background-position:center;}
img#helpIconLogin:hover{background:url(../images/Crystal/headerhelpCrystal.gif); background-repeat:no-repeat; background-position:center;}
img#profileIcon:hover{background:url(../images/Crystal/headerprofileCrystal.gif); background-repeat:no-repeat; background-position:center;}
img#logoutIcon:hover{background:url(../images/Crystal/headerlogoutCrystal.gif); background-repeat:no-repeat; background-position:center;}
img#messageQueueIcon:hover{background:url(../images/Crystal/headerMsgQueueCrystal.gif); background-repeat:no-repeat; background-position:center;}
img#iLearnIcon {height: 24px; width: 24px;border: none; background-image:url(../images/Allscripts/gradCap.png); background-repeat:no-repeat; background-position:center;}
img#iLearnIcon:hover{height: 24px; width: 24px; background-image:url(../images/Crystal/Crystal_ILearn.png); background-repeat:no-repeat; background-position:center;}


.RadPanelBar div.rpHeaderTemplate, a.rpLink
{
    background: linear-gradient(#171868, #618ebe);
    background: -webkit-linear-gradient(#171868, #618ebe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#171868, #618ebe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#171868, #618ebe); /* For Firefox 3.6 to 15 */
    color: white;
}
.editRollover:hover span
{
    color: #171868;
	cursor:pointer;
}
.rpText
{
    color: white;
}
.headerIcon:hover span
{
    color: #171868
}
.rgSelectedRow {
    background: #e8e7fd 0 -5900px repeat-x url('../telerik/Skins/Allscripts/Grid/Img/sprite.gif');
}


.primaryForeColor {
    color: #171868
}



.rightPanelMed {
    border-left: 3px solid #171868 !important;
    border-right: 3px solid #171868 !important;
}

.erxSelectedRow {
    background-color: #e8e7fd !important;
}


.loginbanner
{
	background-color:#171868;
}

.loginMessageTable
{
	border-bottom: solid 1px #171868;
	border-left: solid 1px #171868;
	border-right: solid 1px #171868;
}

.loginMessageRow
{
	border-top: solid 3px #171868;
	border-bottom: solid 1px #171868;
}



.SelectedRow
{
	background-color: #CBCBCB;
}
			
.DURHeading
{
	color: #AE0910;
}

a:hover {
	color: #171868;
}
.h1title {
	background-color: #171868;
}

.Titbarcolor1 
{
	background-color:#171868;
}


.tabSelected
{	
	background-color:#171868;
}


a.tabSelectedLink
{		
	background-color:#171868;
}

.divider
{
	border-bottom:solid 1px #171868;
}

.redborder     { height:1px; background-color:#171868; }

.subheadred		{ font-size:12px; font-weight:bold; color: #171868; }


.accordionHeaderScriptPad
{
    color: #171868;
	background-color: #171868;
}

.accordionHeaderTextScriptPad
{
	background-color: #171868;
}


td.PopUpHeader
{ 
    background-color: #171868;
}
.deluxeComparisons
{
	border:solid 1px #171868;
}

.deluxeComparisons th
{
	 color:#171868;
	 border:solid 1px #171868;
}

.deluxeComparisons td
{
	 border:solid 1px #171868;
}
/*bootstrap override*/
.nav-tabs>li>a:hover {
  border:none;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
     background-color:#171868;
     border-color:#171868;
}