* {
    font-family: arial;    
}

#divHeader {
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: -webkit-linear-gradient(#665999, #2F2257);
    background: -o-linear-gradient(#665999, #2F2257);
    background: -moz-linear-gradient(#665999, #2F2257);
    background-image: linear-gradient( #665999, #2F2257);
    height: 25px;
    color: white;
    font-size: 18px;
    font-family: arial;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
}

#divCapchaContent {
    margin-left: 3px;
}
.steps {
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding-left: 30px;
    margin-top: 10px;
    height: 250px;
    padding-top: 10px;
    font-size: 15px;
}

.divLeft {
    margin-right: 65px;   
}

.stepText {
    font-weight: bold;
    font-size: 18px;
}

 #divPasswordExplination{
    display: none; 
    position: absolute; 
    padding: 7px; 
    margin-top: -26px; 
    margin-left: 601px; 
    width: 250px;
    background-color: rgb(220, 0, 12); 
    -ms-border-radius: 5px;
    border-radius: 5px;
}

  #divConfrimPasswordError{
    display: none; 
    position: absolute; 
    padding: 7px; 
    margin-top: -26px; 
    margin-left: 601px; 
    width: 250px;
    background-color: rgb(220, 0, 12); 
    -ms-border-radius: 5px;
    border-radius: 5px;
}

input[type="text"] {
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #666666;
    height: 20px;
}

input[type="password"] {
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #666666;
    height: 20px;
}
.error-dialog {
  background-color: #ffe4e4;
}

.floatleft {
    float: left;
}
.errorBorder {
    border: 1pt red solid !important;
    -ms-border-radius: 3px;
    border-radius: 3px;
    height: 20px;
}
.clearLeft {
    clear: left;
}
.buttons {
    margin-left: 300px;
    padding-top: 20px;
}
.imgRequired {
    position: relative;
    bottom: 7px;
}
#pnlCaptcha {
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    width: 320px;
    height: 90px;
    margin-top: 50px;
    margin-left: 118px;
    padding-bottom: 10px;
}
.imageRequired {
    position: relative; 
    bottom: 10px;
}
.btnstyle
{
    white-space: pre-wrap;
    -ms-text-shadow: 0 1px #ffffff;
    text-shadow: 0 1px #ffffff;
    height: 22px;
    width: 100px;
    -ms-border-radius: 3px;
    border-radius:3px;
    background: -webkit-linear-gradient(#ffffff, #cccccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #cccccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #cccccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #cccccc); /* Standard syntax */
    border: solid 1px #858585;
    vertical-align: middle;
}

img#loginLogo{background:url(../images/Allscripts/Allscripts_Logo.jpg); background-repeat:no-repeat; background-position:center;}

.overlaymain				
{
    -ms-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #000000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width:600px;
}

.overlayTitle {
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e3e3e3;
    text-align: left;
    color: #665999;
    text-shadow: 0 1px 0 #ffffff;
    height: 30px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 1.5em;
}
.overlaysub1,
.overlayContent {
    padding: 10px;
}
.overlayFooter {
    height: 30px;
    background-color: #e3e3e3;
    -ms-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}
.modalBackground 
{
	FILTER: alpha(opacity=80);
    BACKGROUND-COLOR: gray;
    opacity: 0.8;
    /*-moz-opacity:0.8;*/
    position: fixed;
    _position:absolute !important; /* this is added to override the default position of the modalpopupextender and it is needed to correctly position the overlay in IE6*/
}