.branded-background-color {
    background-color: #7AB800;
}

.branded-font-color {
    color: #ffffff;
}

.branded-logo {
    background-image: url('../images/TeamPraxis/TeamPraxisRegLogo.GIF');
    background-repeat: no-repeat;
    height: 54px;
    background-size: contain;
}
    
.branded-footer-stripe {
    background-color: #ffffff; /*keep this white, for veradigm, its the orange stripe above the footer*/
}

.branded-footer-color {
    background-color: #7AB800;
    color: #ffffff;
}