.form-alt-main__layout {
    width: 92%;
    height: auto;
}

.form-alt-data__layout-18 {
    width: 18px;
}

.form-alt-data__layout-8 {
    width: 8px;
}

.form-alt-data__layout-4 {
    width: 4px;
}

.form-alt-data__border {
    border-width: 0px;
}

.form-alt-data__font-11 {
    font-size: 11px;
}

.form-alt-data__font-8 {
    font-size: 8px;
}