<div class="modal fade" id="mdlFeatureComparision" role="dialog">
    <div class="modal-dialog" style="width: 80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                <h4 class="modal-title">Veradigm ePrescribe&trade; (Feature Comparison) </h4>
            </div>
            <div class="modal-body">
                <img id="mdlFeatureComparisionContent" width="100%" src="{{featureComparisonModel?.ImageUrl}}" />
            </div>
        </div>
    </div>
</div>